.searchArea {
    border: none !important;
    overflow: hidden;
}

.Search {
    height: fit-content !important;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.NavBar {
    padding: 2px;
    flex: 1 5 15%;
}

.ContentArea {
    padding: .5rem;
    flex: 15 1 80%;
}

.AppInfo {
    width: 80%;
}

.App {
    display: flex;
    flex-flow: row wrap; /* то же самое, что флекс-врап и флекс-дайрекшн */
}

.ErrorPage {
    text-align: center;
}
