.searchArea {
    border: none !important;
}

#searchLogo {
    width: fit-content;
    height: fit-content;
    margin-left: 1px;
    background-color: rgba(255, 255, 255, 0);
}

.NavBar {
    padding: 2px;
    flex: 1 5 20%;
}

.ContentArea {
    padding: .5rem;
    flex: 1 1 80%;
}

.AppInfo {
    width: 80%;
}

.App {
    display: flex;
    flex-flow: row wrap; /* то же самое, что флекс-врап и флекс-дайрекшн */
}

.ErrorPage {
    text-align: center;
}